body { background-image:url("snow.jpg");
    background-size:cover;
    background-attachment:fixed;
    

    
    
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size:80px;
    text-align: center;
    margin-top:8%;
    ;
}
.ok{
    display:flex;
    place-items: center;
    margin-left:30%;
    flex-wrap: wrap;
}
.text{
    font-family:monospace;
    font-size:30px;
    font-weight:bold;
    padding-inline: 30px;

}
.num{
    font-family:Calibri, 'Trebuchet MS', sans-serif;
    font-size:70px;
    line-height:px;
    padding-inline: 30px;

}
